<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
	<head>
		<meta charset="UTF-8">
		<title>Պատվերներ</title>
	</head>
	<body>
		<section>
			<div class="container-fluid mt-5 p-1">
				<div class="row">
					<p class="text-center fs-3 mt-2">Տեսնել պատվերները</p>
					<hr>
					<a href="/admin/" class="text-decoration-none"><i
						class="fa-solid fa-arrow-left"></i>Բոլոր պատվերները</a>
					<th:block th:if="${session.succMsg}">
						<p class="text-success fw-bold text-center">[[${session.succMsg}]]</p>
						<th:block th:text="${@commnServiceImpl.removeSessionMessage()}"></th:block>
					</th:block>

					<th:block th:if="${session.errorMsg}">
						<p class="text-danger fw-bold text-center">[[${session.errorMsg}]]</p>
						<th:block th:text="${@commnServiceImpl.removeSessionMessage()}"></th:block>
					</th:block>
					<div class="col-md-4 p-4">

						<form action="/admin/search-order" method="get">
							<div class="row">
								<div class="col">
									<input type="text" class="form-control " name="orderId" placeholder="Գրեք պատվերի համարը">
								</div>
								<div class="col">
									<button class="btn btn-primary col">Որոնել</button>
								</div>
							</div>
						</form>
					</div>
					<div class="col-md-12 ps-4 pe-4">

						<table class="table table-bordered card-sh">
							<thead class="table-light">
								<tr>
									<th scope="col">Պատվերի համարը</th>
									<th scope="col">Առաքման մանրամասները</th>
									<th scope="col">Ամսաթիվը</th>
									<th scope="col">Ապրանքի մանրամասները</th>
									<th scope="col">Արժեքը</th>
									<th scope="col">Կարգավիճակը</th>
									<th scope="col">Դրությունը</th>
								</tr>
							</thead>
							<tbody>
								<th:block th:if="${srch}">
									<th:block th:if="${orderDtls!=null}">
										<tr>
											<th scope="row">[[${orderDtls.orderId}]]</th>

											<td>Անուն՝ [[${orderDtls.orderAddress.firstName+'
												'+orderDtls.orderAddress.lastName}]]<br> Էլ․ հասցե՝
												[[${orderDtls.orderAddress.email}]] <br> Հեռախոսահամար
												[[${orderDtls.orderAddress.mobileNo}]] <br> Հասցե՝
												[[${orderDtls.orderAddress.address}]] <br> Մարզ՝
												[[${orderDtls.orderAddress.city}]] <br> Քաղաք՝
												[[${orderDtls.orderAddress.state}]],
												[[${orderDtls.orderAddress.pincode}]]
											</td>
											<td>[[${orderDtls.orderDate}]]</td>
											<td>[[${orderDtls.product.title}]]</td>
											<td>Քանակ՝ : [[${orderDtls.quantity}]] <br>Գին՝
												[[${orderDtls.price}]] <br>Ընդհանուր արժեքը՝ [[${orderDtls.quantity * orderDtls.price}]]
											</td>
											<td>[[${orderDtls.status}]]</td>
											<td>
												<form action="/admin/update-order-status" method="post">
													<div class="row">
														<div class="col">
															<select class="form-control" name="st">
																<option>--select--</option>
																<option value="1">Ընթացքի մեջ է</option>
																<option value="2">Պատվերը գրանցված է</option>
																<option value="3">Պատվերը փաթեթավորված է</option>
																<option value="4">Դուրս է եկել առաքման</option>
																<option value="5">Առաքված է</option>
																<option value="6">Չեղարկված է</option>
															</select>
														</div>
														<input th:value="${orderDtls.id}" name="id" type="hidden">
														<div class="col">
															<th:block
																th:if="${orderDtls.status=='Cancelled' || orderDtls.status=='Delivered'}">
																<button class="btn btn-primary btn-sm col disabled">?????????</button>
															</th:block>
															<th:block
																th:unless="${orderDtls.status=='Cancelled' || orderDtls.status=='Delivered'}">
																<button class="btn btn-sm btn-primary ">?????????</button>
															</th:block>
														</div>
													</div>
												</form>
											</td>
										</tr>
									</th:block>
									<th:block th:unless="${orderDtls!=null}">
										<p class="fs-3 text-center text-danger">[[${errorMsg}]]</p>
									</th:block>
								</th:block>

								<th:block th:unless="${srch}">
									<tr th:each="o:${orders}">
										<th scope="row">[[${o.orderId}]]</th>

										<td>Անունը՝ [[${o.orderAddress.firstName+'
											'+o.orderAddress.lastName}]]<br> Էլ․ հասցեն՝
											[[${o.orderAddress.email}]] <br> Հեռախոսահամարը՝
											[[${o.orderAddress.mobileNo}]] <br> Հասցեն՝
											[[${o.orderAddress.address}]] <br> Մարզը՝
											[[${o.orderAddress.city}]] <br> Քաղաքը՝
											[[${o.orderAddress.state}]], [[${o.orderAddress.pincode}]]



										</td>
										<td>[[${o.orderDate}]]</td>
										<td>[[${o.product.title}]]</td>
										<td>Քանակը՝ [[${o.quantity}]] <br>Արժեքը՝
											[[${o.price}]] <br>Total Price :[[${o.quantity *
											o.price}]]
										</td>
										<td>[[${o.status}]]</td>
										<td>
											<form action="/admin/update-order-status" method="post">
												<div class="row">
													<div class="col">
														<select class="form-control" name="st">
															<option>--select--</option>
															<option value="1">Ընթացքի մեջ է</option>
															<option value="2">Պատվերը գրանցված է</option>
															<option value="3">Պատվերը փաթեթավորված է</option>
															<option value="4">Դուրս է եկել առաքման</option>
															<option value="5">Առաքված է</option>
															<option value="6">Չեղարկված է</option>
														</select>
													</div>
													<input th:value="${o.id}" name="id" type="hidden">
													<div class="col">
														<th:block
															th:if="${o.status=='Cancelled' || o.status=='Delivered'}">
															<button class="btn btn-primary btn-sm col disabled">Թարմացնել</button>
														</th:block>
														<th:block
															th:unless="${o.status=='Cancelled' || o.status=='Delivered'}">
															<button class="btn btn-sm btn-primary ">Update</button>
														</th:block>
													</div>
												</div>
											</form>
										</td>
									</tr>
								</th:block>
							</tbody>
						</table>
						<th:block th:if="${!srch}">
							<div class="row">
								<div class="col-md-4">Ընդհանուր պատվերներ՝ [[${totalElements}]]</div>
								<div class="col-md-6">

									<nav aria-label="Page navigation example">
										<ul class="pagination">
											<li class="page-item"
												th:classappend="${isFirst} ? 'disabled':''"><a
												class="page-link"
												th:href="@{'/admin/orders?pageNo='+${pageNo-1}}"
												aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
											</a></li>

											<li th:each="i:${#numbers.sequence(1,totalPages)}"
												class="page-item" th:classappend="${pageNo+1==i}?'active':''"
												]]><a class="page-link"
												th:href="@{'/admin/orders?pageNo='+${i-1}}">[[${i}]]</a></li>

											<li class="page-item"
												th:classappend="${isLast} ? 'disabled':''"><a
												class="page-link"
												th:href="@{'/admin/orders?pageNo='+${pageNo+1}}"
												aria-label="Next"> <span aria-hidden="true">&raquo;</span>
											</a></li>
										</ul>
									</nav>
								</div>

							</div>
						</th:block>
					</div>
				</div>

			</div>
		</section>
	</body>
</html>