<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
	<head>
		<meta charset="UTF-8">
		<title>Օգտատերեր</title>
	</head>
	<body>
		<section>
			<div class="container-fluid mt-5 p-5">
				<div class="card card-sh">
					<div class="card-header text-center">
						<p class="fs-4" th:if="${userType==1}">Օգտատերեր</p>
						<p class="fs-4" th:if="${userType==2}">Ադմինիստրատորներ</p>
						<th:block th:if="${session.succMsg}">
							<p class="text-success fw-bold">[[${session.succMsg}]]</p>
							<th:block th:text="${@commnServiceImpl.removeSessionMessage()}"></th:block>
						</th:block>

						<th:block th:if="${session.errorMsg}">
							<p class="text-danger fw-bold">[[${session.errorMsg}]]</p>
							<th:block th:text="${@commnServiceImpl.removeSessionMessage()}"></th:block>
						</th:block>
					</div>
					<div class="card-body">
						<table class="table">
							<thead>
								<tr>
									<th scope="col">Օգտատերի համարը</th>
									<th scope="col">Պրոֆիլ</th>
									<th scope="col">Անուն</th>
									<th scope="col">Էլ․ հասցե</th>
									<th scope="col">Հեռախոսահամար</th>
									<th scope="col">Հասցե</th>
									<th scope="col">Կարգավիճակ</th>
									<th scope="col">Դրություն</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="u,c:${users}">
									<th scope="row">[[${c.count}]]</th>
									<td><img th:src="@{'/img/profile_img/'+${u.profileImage}}"
										width="70px" height="70px"></td>
									<td>[[${u.name}]]</td>
									<td>[[${u.email}]]</td>
									<td>[[${u.mobileNumber}]]</td>
									<td>[[${u.address+','+u.city+','+u.state+','+u.pincode}]]</td>
									<td>[[${u.isEnable}]]</td>
									<td>
										<a th:href="@{'/admin/updateSts?status=true&id='+${u.id}}+'&type='+${userType}" class="btn btn-sm btn-primary">Ակտիվ</a>
										<a th:href="@{'/admin/updateSts?status=false&id='+${u.id}}+'&type='+${userType}" class="btn btn-sm btn-danger">Ոչ ակտիվ</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>