<!DOCTYPE html>
	<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
	<head>
		<meta charset="UTF-8">
		<title>Իմ պատվերները</title>
	</head>
	<body>
		<section>
			<div class="container mt-5 p-5">
				<div class="row">
					<p class="text-center fs-3">Իմ պատվերները</p>
					<th:block th:if="${session.succMsg}">
						<p class="text-success fw-bold text-center">[[${session.succMsg}]]</p>
						<th:block th:text="${@commnServiceImpl.removeSessionMessage()}"></th:block>
					</th:block>

					<th:block th:if="${session.errorMsg}">
						<p class="text-danger fw-bold text-center">[[${session.errorMsg}]]</p>
						<th:block th:text="${@commnServiceImpl.removeSessionMessage()}"></th:block>
					</th:block>
					<div class="col-md-12 ">

						<table class="table table-bordered card-sh">
							<thead >
								<tr >
									<th scope="col">Պատվերի համար</th>
									<th scope="col">Տարեթիվ/th>
									<th scope="col">Արժեք</th>
									<th scope="col">Կարգավիճակ</th>
									<th scope="col">Պատվերի դրություն</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="o:${orders}">
									<th scope="row">[[${o.orderId}]]</th>
									<td>[[${o.orderDate}]]</td>
									<td>[[${o.product.title}]]</td>
									<td>Քանակ՝ [[${o.quantity}]] <br>Գին՝
										[[${o.price}]] <br>Ընդհանուր արժեք՝ [[${o.quantity *
										o.price}]]
									</td>
									<td>[[${o.status}]]</td>
									<td><th:block th:if="${o.status!='Cancelled'}">
											<a th:href="@{'/user/update-status?id='+${o.id}+'&st=6' }"
												class="btn btn-sm btn-danger">Չեղարկել</a>
										</th:block> <th:block th:unless="${o.status!='Cancelled'}">
											<a href="#" class="btn btn-sm btn-danger disabled" >Չեղարկել</a>
										</th:block></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>